.navbar-brand {
	font-family: Palatino Linotype;

}

ul{
	margin-top: 0;
}

hr, p {
	margin: 0;
}

.header {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
	border-bottom-style: dashed;
	border-bottom-width: 1;
}

.bold {
	font-weight:bold;
}

.rightalign {
	float: right;
}


.progress {
	margin-bottom:10; 
}

.skill {
	font-size: 12.5px;
}

.left {
	float:left;
	width: 50%;
}

.right {
	float:right;
	width: 50%;
}

body {
	padding-top: 55px;
}

