.navbar-brand {
	font-family: Palatino Linotype;
	border
}


p {
	margin: 0;
}

.header {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
	border-bottom-style: dashed;
	border-bottom-width: 1;
}

.bold {
	font-weight:bold;
}

.rightalign {
	float: right;
}


.progress, .section {
	margin-bottom:10px; 
}

.skill {
	font-size: 12.5px;
}

.left {
	float:left;
	width: 50%;
}

.right {
	float:right;
	width: 50%;
}

body {
	padding-top: 65px;
}

.card, .skillbar {
	margin-top: 10px;
}